<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyANonPD3_Tx6Fc_mZBPZ7bxm8khDd6qLQc</string>
	<key>GCM_SENDER_ID</key>
	<string>156959991885</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.za.openwindow.PaparazziWalk</string>
	<key>PROJECT_ID</key>
	<string>paparazzi-walk</string>
	<key>STORAGE_BUCKET</key>
	<string>paparazzi-walk.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:156959991885:ios:232a78c9caf4c64d8d9404</string>
</dict>
</plist>